.form-container {
    background: linear-gradient(90deg, #fe3175, #ff6f63);
    box-shadow: 3px 4px 50px;
}

.form-content p {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}

.form-container .form-content input {
    outline: none;
    transition: 0.3s;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 0 0;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-weight: bold;
    width: 80%;
}

.form-container .form-content .btn-login {
    background: white;
    color: #fe3175;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 3px 0px 10px black;
    border-radius: 30px;
    transition: 0.5s;
}